table{
    border: 1px solid gray;
    width: 80%;
    text-align: center;
}
th{
    font-size: 3rem;
    border: 1px solid gray;
    padding: 1rem;
}
td{
    font-size: 2rem;
    border: 1px solid gray;
    padding: 1rem;
}
.admin_show{
    display: flex;
    justify-content: center;
}
.admin_show .admin_title{
    padding: 2rem;
    text-align: center;
}
.admin_show .admin_table{
    display: flex;
    justify-content: center;
}
.admin_container{
    width: 100%;
}