.header{
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header .logo{
    width: 10%;
}
.header .logo img{
    display: block;
    width: 6rem;
    border-radius: 50%;
}
.header ul{
    display: flex;
    width: 60%;
    justify-content: right;
    align-items: center;
}
.header ul li{
    padding: 0 1rem;
    font-size: 2rem;
}
.header ul li a{
    text-decoration: none;
    color: #212428;
}